{:http-kit      {:port 8080}

 ;; Legal Origins for API request.
 :legal-origins #{"cawala.ca" "localhost"}

 ;; You probably want these set to true in real production:
 :ring.middleware/defaults-config
                {:proxy    true
                 :security {:ssl-redirect false}}}
